# Helm values for cvmfs-contrib/cvmfs-csi chart.
# Reference: https://github.com/cvmfs-contrib/cvmfs-csi

# Extra ConfigMaps managed by the chart release.
# cvmfs-csi-default-local is mounted as /etc/cvmfs/default.local in the
# CSI pods. We override CVMFS_HTTP_PROXY for non-CERN environments.
# cvmfs-csi-config-d is mounted at /etc/cvmfs/config.d for repo-specific
# configuration files and public keys.
extraConfigMaps:
  cvmfs-csi-default-local:
    default.local: |
      CVMFS_USE_GEOAPI=yes
      CVMFS_HTTP_PROXY="DIRECT"
      CVMFS_QUOTA_LIMIT={{ .Values.cache.local.cvmfsQuotaLimit }}
      CVMFS_CACHE_BASE=/cvmfs-localcache
  cvmfs-csi-config-d:
    ilc.desy.de.conf: |
      CVMFS_SERVER_URL='http://grid-cvmfs-one.desy.de:8000/cvmfs/@fqrn@;http://cvmfs-stratum-one.cern.ch:8000/cvmfs/@fqrn@;http://cvmfs-egi.gridpp.rl.ac.uk:8000/cvmfs/@fqrn@'
      CVMFS_PUBLIC_KEY='/etc/cvmfs/config.d/ilc.desy.de.pub'
    ilc.desy.de.pub: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3pgrEIimdCPWG9cuhQ0d
      ZWfYxvHRz5hL4HvQlmvikLIlHxs2EApnGyAWdaHAeQ4IiY+JXQnGsS8e5Gr2cZRb
      Y6Ya19GrjMY1wv8fc+uU9kXp7TbHpl3mSQxERG4+wqosN3+IUaPHdnWGP11idOQB
      I0HsJ7PTRk9quFjx1ppkVITZN07+OdGBIzLK6SyDjy49IfL6DVZUH/Oc99IiXg6E
      NDN2UecnnjDEmcvQh2UjGSQ+0NHe36ttQKEnK58GvcSj2reUEaVKLRvPcrzT9o7c
      ugxcbkBGB3VfqSgfun8urekGEHx+vTNwu8rufBkAbQYdYCPBD3AGqSg+Kgi7i/gX
      cwIDAQAB
      -----END PUBLIC KEY-----

cache:
  local:
    # Host path where the per-node CVMFS client cache is stored.
    volumeSpec:
      hostPath:
        path: /var/lib/cvmfs.csi.cern.ch/cache
        type: DirectoryOrCreate
    # Maximum cache size per node in MiB (10 GiB).
    cvmfsQuotaLimit: 10000

